
html{
    color:rgba(74,74,74,255);
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0px;
}
#logo{
    padding-left:20px;
    display:flex;
    align-items: center;
    height: 32px;
}
#logo strong{
    color:black
}
#logo p{
    font-size: 1.5em;
}
#logo a{
    text-decoration: none;
    color:black;
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    padding-right: 24px;
}
header ul li{
    display:inline-block;
    margin-left:16px;
    border:1px solid white;
    border-radius: 13px;
    padding:10px;
    transition:background-color 0.2s;
}
header ul a{
    text-decoration: none;
    color:black;
}
header{
    position:sticky;
    top:0px;
    background-color:white;
}

.container.desktop nav ul li:hover{
    background-color: rgb(224,220,220);
}

.banner img{

    width:60%;
    height:auto;
}
.banner{

    display: flex;
    column-gap: 24px;
    align-items: center;
    background-color: rgb(224,220,220);
    padding:32px 24px;
}
.banner-button{
    margin:0 auto;
    width:50%;
    padding:8px;
    background-color: rgba(74,74,74,255);
    text-align: center;
}
.banner-button p{
    margin:0;
    color:white;
}
.banner-button a{
    text-decoration: none;
}
.banner-text{
    font-size: 2em;
}

#main-text img{
    width:100%;
    height:auto;
}
#main-text {
  width:60%; 
  height: auto;
  font-size: 1.5em;
  padding-top:32px;
}

.subject{
    column-gap:5%;
    display:flex;
    align-items: center;
    padding:16px;
    border:1px solid rgb(224,220,220);
    margin-top:1px;
}
.subject img{
    width:35%;
    height:auto;

}
.subject a{
    text-decoration: none;
}
.different{
    margin-top:0;
    background-color: rgb(224,220,220);;
}

.information-banner-container{
    width:40%;
    display:flex;
    flex-direction: column;
    border-left: 1px solid rgb(224,220,220);
    padding-top:32px;
    padding-bottom:32px;

}
.information-banner{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 1%;

}
.subject-text{
    width:65%;
}
.noborder{
    border-top: none;
    padding-top:0;
}
.courses{
    padding:72px 72px;
    background-color: rgb(224,220,220);
}
.courses h2{
    text-align: center;
    font-size:2em;
    margin-bottom:32px;
}
.cours img{
    width: 100%;
    height: auto;
}
.cours{
    width:30%;
    background-color: white;
}
.courses-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 32px;
}
.cours h4, .cours p{
    padding-left: 12px;
}
.cours p{
    color:rgb(133,133,133);
}
.thesis{
    margin:0, 32px;
    margin-left:24px;
    
}
.thesis-container{
    display:flex;
    column-gap: 12px;
}
.main-thesis-container{
    width:60%;
    height: auto;
}
.main-thesis-container video{
    width:100%;
    height:auto;
}
.thesis h2{
    text-align: center;
    margin-bottom: 32px;
    font-size: 2em;
}
.thesis h4{
    font-size: 2em;
}
.thesis p{
    font-size: 1.5em;
}
.thesis .subject{
    border:none;
}
.a{
    font-size: 2em;
}
.thesis-side{
    width:40%;
}
#diff{
    padding-left:0;
}
footer{
    border-top: 1px solid rgb(224,220,220);
    padding:16px 24px;
    display:flex;
    justify-content:space-between;
}
footer li{
    margin:5px;
    display:inline-block;
    
}
footer a{
    text-decoration: none;
    color:black;
}

.container.mobile nav{
    display:flex;
    height:60px;
    width:60%;
    justify-content: space-between;
    align-items: center;
}
.container.mobile{
    display:none;
}
#logo-mobile{
    padding-left:20px;
}   

@media only screen and (max-width:704px){
    .container.mobile{
        display:flex;
    }
    header .desktop.container{
        display:none;
    }
    .banner{
        display:block;
        padding:0;
        padding-bottom:24px;
        margin-bottom:16px;
    }
    .banner img{
        width:100%;
        height:auto;       
    }
    .banner-text{
        font-size: 1em;
        padding:0px 24px;
    }
    .banner-button{
        width:100%;
    }
    #main-text{
        display:none;
    }
    .information-banner-container{
        width:100%;
    }
    .information-banner-container .subject{
        border:none;
        background-color: white;
    }

    .courses img{
        display:none;
        
    }
    .courses p{
        display:none;
    }
    .courses-container{ 
        display:block;
    }
    .cours{
        background-color: rgb(224,220,220);  
        width:100%;
        padding:8px;
        margin:8px 0px; 
    }
    .courses{
        background-color: white;
    }
    .thesis-container{
        display:block;
    }
    .main-thesis-container{
        width:100%;
    }
    .thesis-side{
        display:none;
    }
    .thesis p,.thesis h4{
        display:none;
    }
    .thesis{
        margin:0;
    }
    .thesis h2{
        text-align: center;
        font-size: 2em;
    }
    ul{
        display:none;
    }
    p{
        font-size: 0.8em;
    }
    footer{
        margin-top:15px;
    }
    
}
/*sign in page*/
.sign-in{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:1px solid rgb(224,220,220);
    background-color: rgb(224,220,220);
    padding:30px 30px;
    display:inline-block;
    border-radius: 15px;
}
.sign-in h1{
    text-align: center;
    font-size: 2em;
    margin-top:0px;
}
.sign-in .container{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.sign-in form{
    display:flex;
    flex-direction: column;
    row-gap:15px;
}
.sign-in button{
    width:60%;
    margin:0 auto;
}